@import "tailwindcss";

body {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}
footer{
    background: #4b0082;
    border-radius: 10px;
    color: white;
    padding: 16px;
    margin:auto;
    text-align: center;
    font-size: 18px;
}